$blue: #4095BF;
$darkBlue: #0062cc;
$lightBlue: #D9EAF2;
$lightGrey: #F5FAFA;
$red: #dc3545;
$darkRed: #c82333;

.bg {
    &-blue {
        background-color: $blue;
    }

    &-light-blue {
        background-color: $lightBlue;
    }

    &-light-grey {
        background-color: $lightGrey;
    }

    &-dark-blue {
        background-color: $darkBlue;
    }
    &-red {
        background-color: $red;
    }
    &-dark-red {
        background-color: $darkRed;
    }
}

.color {
    &-blue {
        color: $blue;
    }

    &-light-blue {
        color: $lightBlue;
    }

    &-light-grey {
        color: $lightGrey;
    }

    &-darker-blue {
        color: $darkBlue;
    }
    &-red {
        color: $red;
    }
    &-dark-red {
        color: $darkRed;
    }
}