.btn, .form-control {
    border-radius: 0%;
}

.btn {
    &-primary {

        &, &:focus {
            border-color: $blue;
            background-color: $blue;
        }

        &:hover {
            border-color: $darkBlue;
            background-color: $darkBlue;
        }
    }

    &-danger {
        &, &:focus {
            border-color: $red;
            background-color: $red;
        }

        &:hover {
            border-color: $darkRed;
            background-color: $darkRed;
        }
    }

    &:focus {
        box-shadow: none;
    }
}

.form-control:disabled {
    background-color: $lightGrey;
}